[Unit]
Description=Apache SOLR
After=syslog.target network.target remote-fs.target nss-lookup.target
[Service]
PIDFile=/opt/solr/bin/solr-{{ solr_port | default("8983") }}.pid
ExecStart=/opt/solr/bin/solr -e cloud -noprompt
  {%- if solr_memory is defined %} -m {{ solr_memory }}
  {%- endif +%}
User=solr
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
[Install]
WantedBy=multi-user.target
